{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'erpw/navbar.css' %}">
<div class="wrapper d-flex">
		<div class="sidebar">

			<ul>
				<li><a href=""><i class="fas fa-home"></i>Dashboard</a></li>
				<li><a href="users/"><i class="fas fa-users"></i>Users</a></li>
				<li class="notification1"><a href="#"><i class="fas fa-calendar-week"></i>Sales Invoices</a><span class="number1"></span></li>
				<li class="notification2"><a href="#"><i class="far fa-envelope"></i>Purchase Orders</a><span class="number2"></span></li></li>
				<li><a href="#"><i class="fas fa-signal"></i>Customers</a></li>

                <li><a href="#">Inventory</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Settings</a></li>
		</ul>
		<div class="userProfile">
			<a href="#"><i class="far fa-user-circle  xyz"></i></a>
			<p class="username">Dianne Robertson<br><a href="#">View Profile</a></p>
			<a href="#"><i class="fas fa-cog mnp"></i></a>
		</div>

	</div>
</div>