{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Link Styles -->
  <link rel="stylesheet" href="{% static 'erpw/navbar.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class=""></i>
      <div class="logo_name">Swift & Play</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="{% url 'dashboard' %}">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="{% url 'erpw-users' %}">
          <i class="bx bx-user"></i>
          <span class="link_name">Users</span>
        </a>
        <span class="tooltip">Users</span>
      </li>
     {% if user.is_superuser %}
      <li>
        <a href="{% url 'invoice' %}">
          <i class="bx bx-receipt"></i>
          <span class="link_name">Sales Invoice</span>
        </a>
        <span class="tooltip">Sales Invoice</span>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'orders:orders' %}">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Orders</span>
        </a>
        <span class="tooltip">Orders</span>
      </li>
      {% if user.is_superuser %}
      <li>
        <a href="{% url 'inventory_list' %}">
          <i class="bx bx-folder"></i>
          <span class="link_name">Inventory</span>
        </a>
        <span class="tooltip">Inventory</span>
      </li>
      {% endif %}
        <li>
        <a href="{% url 'profile' %}">
          <i class="bx bx-user-circle"></i>
          <span class="link_name">Profile</span>
        </a>
        <span class="tooltip">Profile</span>
      </li>
      <li>
        <a href="{% url 'logout' %}">
          <i class="bx bx-log-out"></i>
          <span class="link_name">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
      </li>
      <li>
        <a href="{% url 'contacts' %}">
          <i class="bx bx-support"></i>
          <span class="link_name">Contact Support</span>
        </a>
        <span class="tooltip">Contact Support</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <img src="{{ user.profile.image.url }}" alt="profile image">
            </a>
          <div class="profile_content">
            <div class="name">{{ user.username }}</div>
            <div class="designation"></div>
          </div>
        </div>

        <i class="#" id="log_out"></i>

      </li>
    </ul>
  </div>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 col-sm-12 col-xm-12">
                    {% block content %}

                    {% endblock %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </main>
  <!-- Scripts -->
  <script src="{% static 'erpw/navbar.js' %}"></script>
</body>
</html>